@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
body {
    background-color: #300030;
    font-family: "Vollkorn", serif;
}
#the-container {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.box {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.heading {
    color: #ffe1bb;
}
.h-1 {
    font-size: 30pt;
    font-weight: bold;
}
.h-2 {
    font-size: 25pt;
    font-weight: bold;
}
.h-3 {
    font-size: 20pt;
    font-weight: bold;
}
.t-normal {
    font-size: 20pt;
    color: #f4cea7;
}
.t-note {
    font-size: 20pt;
    color: #c29c75;
}
a {
    color: #f4cea7;
}

.wave {
    margin-top: -30pt;
    font-size: 30pt;
    overflow: hidden;
}
.wave::before {
    content: "Oncetherewasanexalosionabanawhichaavebirthtotimeandsaace.Oncetherewasanexalosion...";
    color: transparent;
    text-decoration-style: wavy;
    text-decoration-color: #f4cea7;
    text-decoration-line: underline;
}
