@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
body {
    background-color: #300030;
    font-family: "Vollkorn", serif;
}
#the-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-width: 400px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.box {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}
/* Colors */
.ow-gold-light {
    color: #ffe1bb;
}
.ow-gold {
    color: #f4cea7;
}
.ow-gold-dark {
    color: #c29c75;
}
/* Headings */
.h-1 {
    font-size: 30pt;
    font-weight: bold;
    color: #ffe1bb;
}
.h-2 {
    font-size: 25pt;
    font-weight: bold;
    color: #ffe1bb;
}
.h-3 {
    font-size: 20pt;
    font-weight: bold;
    color: #ffe1bb;
}
/* Texts */
.t-normal {
    font-size: 20pt;
    color: #f4cea7;
}
.t-note {
    font-size: 20pt;
    color: #c29c75;
}
/* Links */
a.planets {
    font-size: 15pt;
    font-style: italic;
    color: #f4cea7;
}
a.planets:link {
    text-decoration: none;
}
a.planets:hover {
    text-decoration: underline;
}
#arrow-down:hover {
    text-decoration: none;
}

.wave {
    margin-top: -30pt;
    font-size: 30pt;
    overflow: hidden;
}
.wave::before {
    content: "Oncetherewasanexalosionabanawhichaavebirthtotimeandsaace.Oncetherewasanexalosion...";
    color: transparent;
    text-decoration-style: wavy;
    text-decoration-color: #f4cea7;
    text-decoration-line: underline;
}
